[mysqld] # config related to the sql daemon
user = mysql # stripping root power from the mariadb container so it ran with normal user account 
port = 3306 # setting up the default daabase port tha wordpress will reach out
datadir = /var/lib/mysql  # where will the database write its binnaries
bind-address = 0.0.0.0 # rather than listening to itself it listens to any network conection